%table{border: "2", height: "160", width: "700"}
  %tr{align: "center"}

    %th 9:00
    %th 10:00
    %th 11:00
    %th 12:00
    %th 13:00
    %th 14:00
    %th 15:00

  %tr{align: "center"}
    %td{ class:"target"}
      = link_to "#", class:"chartBtnS1" do
        □
    %td
      = link_to "#", class:"chartBtnS2" do
        □
    %td
      = link_to "#", class:"chartBtnS3" do
        □
    %td
      = link_to "#", class:"chartBtnS4" do
        □
    %td
      = link_to "#", class:"chartBtnS5" do
        □
    %td
      = link_to "#", class:"chartBtnS6" do
        □
    %td
      = link_to "#", class:"chartBtnS7" do
        □