.BaseShow
  .BaseShow__user
    .BaseShow__user__name
      = @user.name
      -# = link_to new_user_ownpage_path, class:"BaseShow__user__name__edit" do
      = link_to edit_user_ownpage_path, class:"BaseShow__user__name__edit" do
        編集
    .BaseShow__user__photo
      = form_with url:"#", class: "BaseShow__user__photo__step" do |k|
        = k.file_field :photo, class: "BaseShow__user__photo__step__edit"
    .BaseShow__user__message
      -# .BaseShow__user__message__form
      -#   .BaseShow__user__message__form__space
      -#     = @ownpage.content
      = form_with url:"#", class: "BaseShow__user__message__form" do |i|
        = i.text_area :message, placeholder: "message", class:"BaseShow__user__message__form__space"
    .BaseShow__user__comment
      コメントスペース