%table{border: "2", height: "160", width: "1350"}
  %tr{align: "center"}
    %th 5:00
    %th 6:00
    %th 7:00
    %th 8:00
    %th 9:00
    %th 10:00
    %th 11:00
    %th 12:00
    %th 13:00
    %th 14:00
    %th 15:00
    %th 16:00
    %th 17:00
    %th 18:00
    %th 19:00
    %th 20:00
    %th 21:00
    %th 22:00
    %th 23:00
    %th 0:00
    %th 1:00
    %th 2:00
    %th 3:00
    %th 4:00
  %tr{align: "center"}
    %td{ class:"target"}
      = link_to "#", class:"chartBtnA1" do
        □
    %td
      = link_to "#", class:"chartBtnA2" do
        □
    %td
      = link_to "#", class:"chartBtnA3" do
        □
    %td
      = link_to "#", class:"chartBtnA4" do
        □
    %td
      = link_to "#", class:"chartBtnA5" do
        □
    %td
      = link_to "#", class:"chartBtnA6" do
        □
    %td
      = link_to "#", class:"chartBtnA7" do
        □
    %td
      = link_to "#", class:"chartBtnA8" do
        □
    %td
      = link_to "#", class:"chartBtnA9" do
        □
    %td
      = link_to "#", class:"chartBtnA10" do
        □
    %td
      = link_to "#", class:"chartBtnA11" do
        □
    %td
      = link_to "#", class:"chartBtnA12" do
        □
    %td
      = link_to "#", class:"chartBtnA13" do
        □
    %td
      = link_to "#", class:"chartBtnA14" do
        □
    %td
      = link_to "#", class:"chartBtnA15" do
        □
    %td
      = link_to "#", class:"chartBtnA16" do
        □
    %td
      = link_to "#", class:"chartBtnA17" do
        □
    %td
      = link_to "#", class:"chartBtnA18" do
        □
    %td
      = link_to "#", class:"chartBtnA19" do
        □
    %td
      = link_to "#", class:"chartBtnA20" do
        □
    %td
      = link_to "#", class:"chartBtnA21" do
        □
    %td
      = link_to "#", class:"chartBtnA22" do
        □
    %td
      = link_to "#", class:"chartBtnA23" do
        □
    %td
      = link_to "#", class:"chartBtnA24" do
        □
  %tr{align: "center"}
    %td{bgcolor: "lightgreen"}
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
  %tr{align: "center"}
    %td{bgcolor: "lightgreen"}
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
  %tr{align: "center"}
    %td{bgcolor: "lightgreen"}
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □
    %td
      = link_to "#", class:"chartBtn" do
        □